body {
    font-family: 'Open Sans', sans-serif;
    background: #456789; 
}

#header {
    text-align: center;
    position: absolute;
    width: auto;
    height: auto; 
    left: 13.7cm;
}

.mypic {
    border-radius: 100%;
    margin-bottom: auto;
}

.name {
    font-family: serif;
    margin: auto
}

.gmail {
    border: 1px solid #000000;
    margin: auto;
    border-radius: 5px;
    text-decoration: none;
    padding: 0 5px;
    color: #fff;
}

.gmail:link {
    background-color: #0000f5;
}

.gmail:visited {
    background-color: #00f500;
}

.gmail:hover {
    background-color: #f50000;
}

.gmail:active {
    background-color: #f5f5f5;
}

.jumbo {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    width: 60px;
}

.icon-menu {
    color: #000;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #000;
    margin-top: 0px;
}

.icon-menu:hover {
    color: #0fff0f;
    background-color: #ff0f0f;
}

.menu {
    left: -285px;
    height: 100%;
    position:fixed;
    width: 3.1cm;
    background-color: #0fff0f;
    top: 0px;
    z-index: 1;
}

.menu ul {
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}

.menu li {
    border-bottom: 1px solid #636366;
    line-height: 45px;
    padding-top: 3px;
    list-style: none;
    width: 80px;
    text-align: center;
}

.menu a {
    color: #000;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

#body {
    height: auto;
    width: 30cm;
    position: relative;
    top: 4cm;
    left: 3cm;
    text-align: center;
}

.clockdate-wrapper {
    background-color: #062578;
    padding: 25px;
    max-width: 430px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 10px auto;
    
}
#clock {
    background-color: #062578;
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 1px #fff;
    color: #fff;
    border-radius: 5px;
}
#clock span {
    color: #888;
    text-shadow: 0px 0px 1px #333;
    font-size: 30px;
    position: relative;
    top: -27px;
    left: -10px;
}
#date {
    letter-spacing: 10px;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #fff;
}

.images{
    position: fixed;
    top: 7cm;
    right: 0;
    height: auto;
    width: auto;
    display: inline;
    list-style: none;
    
}
.images img {
    height: 50px;
    width: 50px;
    border-bottom: 1px solid #000;
}

.favorite {
    list-style: none;
}

.favorite li {
    display: inline;
}

iframe {
    border: 1px solid #000;
    border-radius: 10px;
}

#footer {
    position: relative;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-style: double;
    bottom: -180px;
}

.form {
    padding-left: 10px;
    font-size: 20px;
}

.socials {
    list-style: none;
    text-align: center;
    margin-top: -1cm;
}

.socials li {
    display: inline-block;
}

#footer img {
    display: inline;
    margin-left: 20px;
}

.socials img {
    width: 45px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-radius: 8px;
    
}

.socials img:hover {
    -webkit-transform: scale(1.2);
    -webkit-transition: -webkit-transform .2s ease-in;
}
