.navbar {
    background-color: #910131;
    height: 60px;
    font-size: 20px;
    padding-top: 5px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
    height: 500px;
  }
.thumbnail{
    list-style: none;
}
.thumbnail img {
    height: 250px;
    display: grid;
}
.clockdate-wrapper {
    background-color: #062578;
    padding: 5px;
    max-width: 430px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}
#clock {
    background-color: #062578;
    font-family: sans-serif;
    font-size: 20px;
    text-shadow: 0px 0px 1px #fff;
    color: #fff;
    border-radius: 5px;
}
#clock span {
    color: #888;
    text-shadow: 0px 0px 1px #333;
    font-size: 5px;
    position: relative;
}
#date {
    letter-spacing: 5px;
    font-size: 7px;
    font-family: arial, sans-serif;
    color: #fff;
}

.socials {
    position: fixed;
    float: left;
    height: 100%;
}

.socials li {
    list-style: none;
}

.socials img {
    height: 50px;
    width: 50px;
    margin: 0;
}

.footer {
    text-align: center;
    display: inline;
    padding: 20px;
}

.footer li {
    list-style: none;
    display: inline;
}
.footer img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.footer img:hover {
    -webkit-transform: scale(1.2);
    -webkit-transform: -webkit-transform 1.0s ease-in;
}
